.health-status-container {
    display: flex;
    background-color: $panelColor;
    border: 2px solid white;
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    div {
        margin: 15px;
      align-items: center;
      border:1.5px solid white;
      padding:0em 0.5em 0em;
      border-radius: 0.3em;
    }
    .resist-immunities {
        border:0px solid white;
        display: flex;
        align-items: center;
        div{
            display: flex;
            align-items: center;

        }
        div * {
        margin-left:10px;
        }
    }
    .health{
        width:150px
    }
    .armor-class{
        width:150px
    }
}
